<tr>
  <td><%= link_to group.name, tenant_group_url(group.tenant_id, group.id) %></td>
  <% case local_assigns[:group_action]
    when 'remove' %>
  <td><%= link_to 'Remove this group', edit_tenant_group_path(group.tenant_id, group), method: :post, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
  <% when 'add' %>
  <td><%= button_to 'Add this group', tenant_group_users_path(group.tenant_id, group), params: { user: @user}, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
<% else %>
  <td><%= link_to 'Edit this group', edit_tenant_group_path(group.tenant_id, group), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
<% end %>
</tr>
